.image-card {
  max-width: 100%;

  overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
}

.image-card img {
  width: 100%; /* Hace que la imagen se ajuste al contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}
.img-incrustada {
  /* Ajusta el tamaño de la imagen según sea necesario */
  width: 70px; /* O el ancho que prefieras */
  height: auto; /* Para mantener la relación de aspecto */

  /* Aplica una sombra interna para dar la ilusión de estar metida hacia dentro */

  /* Opcional: si quieres bordes redondeados */
  border-radius: 1020px 0px 0px 1020px;
  /* Si tu imagen tiene un fondo transparente y quieres que el "hueco" tenga un color */
  background-color: #e9e9e9; /* Cambia al color de fondo que prefieras */

  /* Si necesitas que la imagen se centre dentro de su contenedor */
  display: block;
  margin: auto;
}
