@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.manoloo267 {
  color: #4c4e52;
  font-family: "Poppins", sans-serif;
}
